<div class="container">
  <p class="word">Favorites</p>
  <button type="button" class="btn clearall btn-danger" (click)="clearAll()">
    Clear All
  </button>
  <div *ngIf="showNotification" class="alert alert-danger" role="alert" [innerHTML]="notificationMessage">
    {{ notificationMessage }}
  </div>

  <br /><br />

  <table
    class="abc table table-ml table-bordered"
    *ngIf="storedData && storedData.length > 0"
  >
    <tbody>
      <tr *ngFor="let item of storedData; let i = index" class="data-item">
        <th class="no" scope="row">{{ i + 1 }}</th>
        <td class="wword">{{ item.word }}</td>
        <td class="delete">
          <button class="del btn" (click)="deleteWord(item.word)">
            <img [src]="'assets/photos/delete_icon.png'" alt="Delete" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="nodef" *ngIf="storedData && storedData.length === 0">
    <p>No data found in Local Storage.</p>
  </div>
</div>
