<div class="container">
  <div class="search-bar">
    <input
      type="text"
      class="search-bar bg-white p-2 m-2"
      [(ngModel)]="word"
      placeholder="Enter the word"
    />

    <button type="button" class="a1 btn bg-white" (click)="searchDefinition()">
      <img src="assets/photos/search_icon.png" alt="Search Icon" />
    </button>
  </div>

  <div class="container1" *ngIf="definition">
    <div>
      <div class="word">{{ word }}<br /></div>
      <span class="favorite-btn">
        <img src="assets/photos/favorite_icon.png" alt="Favorite Icon" />
      </span>
      <br />
      <hr style="color: #555; opacity: 0.5" />

      <div class="pronunciation">
        {{ definition.phonetic }}
        <span *ngIf="definition.phonetics.length" class="sound-btn">
          <img
            *ngIf="definition.phonetics[0].audio"
            [src]="'assets/photos/sound_icon.png'"
            alt="Sound Icon"
            (click)="playAudio(definition.phonetics[0].audio)"
          />
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="definition">
    <div *ngFor="let meaning of definition.meanings">
      <div *ngFor="let def of meaning.definitions">
        <p class="synant" *ngIf="def.synonyms.length">
          <b>Synonyms: </b>{{ def.synonyms.join(", ") }}
        </p>
        <p class="synant" *ngIf="def.antonyms.length">
          <b>Antonyms: </b>{{ def.antonyms.join(", ") }}
        </p>
      </div>
    </div>
    <div *ngFor="let meaning of definition.meanings">
      <div class="definition">
        <p class="part-of-speech">{{ meaning.partOfSpeech }}</p>
      </div>
      <ol>
        <li *ngFor="let def of meaning.definitions">
          <p><b>Definition: </b> {{ def.definition }}</p>
          <p *ngIf="def.example"><b>Example: </b> {{ def.example }}</p>
        </li>
      </ol>
    </div>
  </div>
</div>
