<router-outlet></router-outlet>

<div class="kenar">
  <div>
    <div class="langChoice">
      <div *ngIf="currentLanguage === 'en'">
        {{ "English" | translate }}
      </div>
      <div *ngIf="currentLanguage === 'tr'">
        {{ "Turkish" | translate }}
      </div>
    </div>

    <button
      class="home btn"
      title="{{ 'English' | translate }}"
      (click)="switchLanguage('en')"
    >
      <img src="assets/photos/en.png" alt="english" />
    </button>
    <button
      class="home btn"
      title="{{ 'Turkish' | translate }}"
      (click)="switchLanguage('tr')"
    >
      <img src="assets/photos/tr.png" alt="turkish" />
    </button>
  </div>
  <hr class="cizgi" />
  <button
    (click)="homeTheme()"
    title="{{ 'Home' | translate }}"
    class="home btn"
  >
    <img
      [src]="
        isHomeMode
          ? 'assets/photos/full_home_icon.png'
          : 'assets/photos/home_icon.png'
      "
      alt="Home"
    />
  </button>
  <button
    (click)="goToLocalStorage()"
    title="{{ 'Fav' | translate }}"
    class="ffav btn"
  >
    <img
      [src]="
        isFavMode
          ? 'assets/photos/full_ffav_icon.png'
          : 'assets/photos/ffav_icon.png'
      "
      alt="Favorites"
    />
  </button>

  <button
    (click)="toggleTheme()"
    title="{{ 'Dark' | translate }}"
    class="dmod btn"
  >
    <img
      [src]="
        isDarkMode
          ? 'assets/photos/full_dark_mode.png'
          : 'assets/photos/dark_mode.png'
      "
      alt="Dark Mode"
    />
  </button>

  <button
    (click)="goToForms()"
    title="{{ 'Forms' | translate }}"
    class="form btn"
  >
    <img
      [src]="
        isDocMode
          ? 'assets/photos/full_doc_icon.png'
          : 'assets/photos/doc_icon.png'
      "
      alt="Forms"
    />
  </button>

  <button
    (click)="goToArray()"
    title="{{ 'Arrays' | translate }}"
    class="array btn"
  >
    <img
      [src]="
        isArrayMode
          ? 'assets/photos/full_array_icon.png'
          : 'assets/photos/array_icon.png'
      "
      alt="Array"
    />
  </button>
</div>
