<router-outlet></router-outlet>

<div class="side">
  <div>
    <div class="langChoice">
      <div *ngIf="currentLanguage === 'en'">
        {{ "side.ENGLISH_BUTTON" | translate }}
      </div>
      <div *ngIf="currentLanguage === 'tr'">
        {{ "side.TURKISH_BUTTON" | translate }}
      </div>
    </div>

    <button
      class="sidebtn btn"
      title="{{ 'side.ENGLISH_BUTTON' | translate }}"
      (click)="switchLanguage('en')"
    >
      <img src="assets/photos/en.png" alt="english" />
    </button>
    <button
      class="sidebtn btn"
      title="{{ 'side.TURKISH_BUTTON' | translate }}"
      (click)="switchLanguage('tr')"
    >
      <img src="assets/photos/tr.png" alt="turkish" />
    </button>
  </div>
  <hr class="line" />
  <button
    (click)="homeTheme()"
    title="{{ 'side.HOME_BUTTON' | translate }}"
    class="sidebtn btn"
  >
    <img
      [src]="
        isHomeMode
          ? 'assets/photos/full_home_icon.png'
          : 'assets/photos/home_icon.png'
      "
      alt="Home"
    />
  </button>
  <button
    (click)="goToLocalStorage()"
    title="{{ 'side.FAV_BUTTON' | translate }}"
    class="sidebtn btn"
  >
    <img
      [src]="
        isFavMode
          ? 'assets/photos/full_ffav_icon.png'
          : 'assets/photos/ffav_icon.png'
      "
      alt="Favorites"
    />
  </button>

  <button
    (click)="toggleTheme()"
    title="{{ 'side.DARK_MODE_BUTTON' | translate }}"
    class="sidebtn btn"
  >
    <img
      [src]="
        isDarkMode
          ? 'assets/photos/full_dark_mode.png'
          : 'assets/photos/dark_mode.png'
      "
      alt="Dark Mode"
    />
  </button>

  <button
    (click)="goToForms()"
    title="{{ 'side.FORMS_BUTTON' | translate }}"
    class="sidebtn btn"
  >
    <img
      [src]="
        isDocMode
          ? 'assets/photos/full_doc_icon.png'
          : 'assets/photos/doc_icon.png'
      "
      alt="Forms"
    />
  </button>

  <button
    (click)="goToArray()"
    title="{{ 'side.ARRAYS_BUTTON' | translate }}"
    class="sidebtn btn"
  >
    <img
      [src]="
        isArrayMode
          ? 'assets/photos/full_array_icon.png'
          : 'assets/photos/array_icon.png'
      "
      alt="Array"
    />
  </button>
</div>
