<div class="container">
  <button type="button" class="cleardata btn btn-danger" (click)="clearData()">
    {{ "forms.CLEAR_DATA" | translate }}
  </button>
  <div
    *ngIf="showNotification"
    class="alert alert-danger"
    role="alert"
    [innerHTML]="notificationMessage"
  >
    {{ notificationMessage }}
  </div>
  <div class="container1 container">
    <h2><b>{{ "forms.USER_PROFILE" | translate }}</b></h2>
    <hr class="cizgi" />
    <p class="profile">{{ "forms.FIRST_NAME" | translate }}:</p>
    <p class="profile2">{{ userData.firstName }}</p>
    <p class="profile">{{ "forms.LAST_NAME" | translate }}:</p>
    <p class="profile2">{{ userData.lastName }}</p>
    <p class="profile">{{ "forms.CITY" | translate }}:</p>
    <p class="profile2">{{ userData.city }}</p>
    <p class="profile">{{ "forms.DISTRICT" | translate }}:</p>
    <p class="profile2">{{ userData.district }}</p>
    <div
      class="nodef text-danger"
      *ngIf="
        !userData ||
        (userData &&
          !userData.firstName &&
          !userData.lastName &&
          !userData.city &&
          !userData.district)
      "
    >
      {{ "favorites.NO_DATA_FOUND" | translate }}
    </div>
  </div>

  <div
    *ngIf="showNotification2"
    class="alert alert-success"
    role="alert"
    [innerHTML]="notificationMessage2"
  >
    {{ notificationMessage2 }}
  </div>

  <div class="container1 container saveupdate" [formGroup]="profileForm">
    <h2>
      <b>{{ "forms.SAVE_UPDATE" | translate }}</b>
    </h2>
    <hr class="cizgi" />
    <label for="firstName">{{ "forms.FIRST_NAME" | translate }}:</label><br />
    <input
      id="firstName"
      placeholder="{{'forms.ENTER_FIRST_NAME'|translate}}"
      formControlName="firstName"
    />
    <br /><br />

    <label for="lastName">{{ "forms.LAST_NAME" | translate }}:</label><br />
    <input
      id="lastName"
      type="text"
      placeholder="{{'forms.ENTER_LAST_NAME'|translate}}"
      formControlName="lastName"
    />
    <br /><br />

    <label for="city">{{ "forms.CITY" | translate }}:</label><br />
    <select formControlName="city" (change)="onCityChange()">
      <option value="" disabled selected>{{'forms.SELECT_CITY'|translate}}</option>
      <option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </option>
    </select>

    <br /><br />
    <label for="district">{{ "forms.DISTRICT" | translate }}:</label><br />
    <select formControlName="district">
      <option value="" disabled selected>{{'forms.SELECT_DISTRICT'|translate}}</option>
      <option *ngFor="let district of districts" [value]="district.id">
        {{ district.name }}
      </option>
    </select>

    <br /><br />

    <button
      class="btn btn-warning btn-ml m-3"
      [disabled]="profileForm.invalid"
      type="button"
      (click)="onSubmit()"
    >
      {{ "forms.SAVE_UPDATE" | translate }}
    </button>

    <div *ngIf="profileForm.invalid" class="validation-errors">
      <hr class="cizgi" />
      <h3>{{ "forms.VALIDATION_ERRORS" | translate }}</h3>
      <ul>
        <li *ngIf="profileForm.controls['firstName'].errors?.['minlength']">
          {{ "forms.MIN_LENGTH_FIRST_NAME" | translate }}
        </li>
        <li *ngIf="profileForm.controls['firstName'].errors?.['required']">
          {{ "forms.VALIDATION_ERRORS_FIRST_NAME" | translate }}
        </li>

        <li *ngIf="profileForm.controls['lastName'].errors?.['minlength']">
          {{ "forms.MIN_LENGTH_LAST_NAME" | translate }}
        </li>
        <li *ngIf="profileForm.controls['lastName'].errors?.['required']">
          {{ "forms.VALIDATION_ERRORS_LAST_NAME" | translate }}
        </li>

        <li *ngIf="profileForm.controls['city'].errors?.['required']">
          {{ "forms.VALIDATION_ERRORS_CITY" | translate }}
        </li>
        <li *ngIf="profileForm.controls['district'].errors?.['required']">
          {{ "forms.VALIDATION_ERRORS_DISTRICT" | translate }}
        </li>
      </ul>
    </div>
  </div>
</div>
