<div class="container">
  <div class="container1 bg-info text-white">
    <h2><b>User Profile</b></h2>
    <p>First Name: {{ userData.firstName }}</p>
    <p>Last Name: {{ userData.lastName }}</p>
    <p>City: {{ userData.city }}</p>
    <p>District: {{ userData.district }}</p>

    <div class="nodef" *ngIf="!userData || (userData && !userData.firstName && !userData.lastName && !userData.city && !userData.district)">
      <p>No data found in Local Storage.</p>
    </div>
    
  </div>

  <div class="container1 bg-success text-white">
    <h2><b>Save & Update Profile</b></h2>

    <p for="firstName">First Name:</p>
    <input id="firstName" type="text" [(ngModel)]="userData.firstName" />
    <br /><br />
    <p for="lastName">Last Name:</p>
    <input id="lastName" type="text" [(ngModel)]="userData.lastName" />
    <br /><br />

    <p for="city">City:</p>
    <input id="city" type="text" [(ngModel)]="userData.city" />
    <br /><br />
    <p for="district">District:</p>
    <input id="district" type="text" [(ngModel)]="userData.district" />
    <br /><br />
    <button type="button" (click)="updateProfile(userData)">Save & Update Profile</button>
</div>

</div>
