body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  color: #555;
}

body.dark-mode {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #bbdefb;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px lightgray;
  border-radius: 0.5rem;
}

body.dark-mode .container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #555;
  box-shadow: 0 0 10px lightgray;
  border-radius: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #007bff;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: 100%;
}

body.dark-mode .search-bar {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #154d88;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.search-bar img {
  width: 20%;
  height: 80%;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  outline: none;
  height: 40px;
}

body.dark-mode .search-bar input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  outline: none;
  height: 40px;
}

.a1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 0.5rem;
}
.a1 img {
  height: 20px;
  width: 20px;
}

.favorite-btn,
.sound-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.a3 {
  margin-right: 20px;
}

.favorite-btn img,
.sound-btn img {
  width: 30px;
  height: 30px;
}

.definition {
  font-size: 1.8em;
  font-weight: bold;
  color: #007bff;
  padding-left: 20px;
  padding-top: 20px;
}

ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 20px;
}

.container1 {
  text-align: center;
  justify-items: center;
}

.word {
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
}

.pronunciation {
  font-size: 1em;
  color: grey;
  display: inline;
}

body.dark-mode .pronunciation {
  font-size: 1em;
  color: #e8eaf6;
  display: inline;
}
.synant b {
  color: #007bff;
  padding-left: 20px;
}

body.dark-mode .synant b {
  color: lightskyblue;
  padding-left: 20px;
}

.kenar {
  background-color: #87cefa;
  box-shadow: 0 0 8px lightgray;
  width: 20% auto;
  max-width: 16%;
  height: 16% auto;
  position: fixed;
  top: 10px;
  border-radius: 0.5rem;
  right: 0;
  margin: 10px auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 10%;
}

.ffav,
.dmod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 10px 10px;
  margin-left: 5px;
}
.ffav img,
.dmod img {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cizgi {
  color: #555;
  opacity: 0.5;
}

body.dark-mode .cizgi {
  color: #e8eaf6;
  opacity: 0.5;
}

body.dark-mode .def {
  color: #e8eaf6;
}

body.dark-mode .part-of-speech {
  color: lightskyblue;
}
