body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 100%;
}

body.dark-mode {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #171717;
  margin: 0;
  padding: 0;
  color: #bbdefb;
  font-size: 100%;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px lightgray;
  border-radius: 0.5rem;
}

body.dark-mode .container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #555;
  box-shadow: 0 0 10px lightgray;
  border-radius: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #007bff;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

body.dark-mode .search-bar {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #154d88;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

.search-bar img {
  width: 20%;
  height: 80%;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  outline: none;
  height: 40px;
}

body.dark-mode .search-bar input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  outline: none;
  height: 40px;
}

.searchbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 0.5rem;
}

.searchbtn img {
  height: 20px;
  width: 20px;
}

.favorite-btn,
.sound-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.homefavbtn {
  margin-right: 20px;
}

.favorite-btn img,
.sound-btn img {
  width: 20px;
  height: 20px;
}

.definition {
  font-size: 1.8em;
  font-weight: bold;
  color: #007bff;
  padding-left: 20px;
  padding-top: 20px;
}

ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 20px;
}

.container1 {
  text-align: center;
  justify-items: center;
}

.word {
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

body.dark-mode .word {
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.pronunciation {
  font-size: 1em;
  color: grey;
  display: inline;
}

body.dark-mode .pronunciation {
  font-size: 1em;
  color: #e8eaf6;
  display: inline;
}

.synant b {
  color: #007bff;
  padding-left: 20px;
}

body.dark-mode .synant b {
  color: #87cefa;
  padding-left: 20px;
}

body.dark-mode .synant {
  color: #e8eaf6;
}

.side {
  background-color: #87cefa;
  box-shadow: 0 0 10px lightgray;
  width: 20% auto;
  height: auto;
  position: fixed;
  top: 10px;
  border-radius: 0.5rem;
  right: 0;
  margin: 10px auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 10%;
  align-items: center;
}

.sidebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 10px 10px;
  margin-left: 5%;
}

.sidebtn img{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  color: #555;
  opacity: 0.5;
}

body.dark-mode .line {
  color: #e8eaf6;
  opacity: 0.5;
}

body.dark-mode .def {
  color: #e8eaf6;
}

body.dark-mode .part-of-speech {
  color: #87cefa;
}

.nodef {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 85%;
  }

  .side {
    background-color: #87cefa;
    box-shadow: 0 0 10px #d3d3d3;
    width: 15% auto;
    height: auto;
    position: fixed;
    top: 10px;
    border-radius: 0.5rem;
    right: 0;
    margin: 10px auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 0%;
    align-items: center;
  }

  .sidebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 10px 10px;
    margin-left: 5%;
  }

  .sidebtn img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 60%;
  }

  .side {
    background-color: #87cefa;
    box-shadow: 0 0 10px #d3d3d3;
    width: 9%;
    height: auto;
    position: fixed;
    top: 10px;
    border-radius: 0.5rem;
    right: 0;
    margin: 10px auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 10%;
    align-items: center;
    justify-items: center;
  }

  .sidebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    margin: 10px 10px;
    margin-left: 5%;
  }

  .sidebtn img {
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

td.delete {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

th.no {
  width: 4%;
  white-space: nowrap;
  text-align: center;
  font-size: larger;
}

td.favword {
  font-size: larger;
}

.favdel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.favdel img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favtable {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-color: #555;
  --bs-emphasis-color: #555;
}

body.dark-mode .favtable {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-color: #555;
  --bs-emphasis-color: #555;
}

.clearall,
.cleardata {
  display: flex;
  border-radius: 0.5rem;
  padding: 10px;
  margin: auto;
  width: auto;
  height: auto;
}

body.dark-mode .clearall,
.cleardata {
  display: flex;
  border-radius: 0.5rem;
  padding: 10px;
  margin: auto;
  width: auto;
  height: auto;
}

.alert {
  margin-top: 5%;
  border-radius: 0.5rem;
}

div .alert {
  align-items: center;
  text-align: center;
}

.staticprofile {
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 8%;
}

.saveupdate label {
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 8%;
}

.saveupdate select,
input {
  box-sizing: border-box;
  width: 70%;
}

.validation-errors h3 {
  font-weight: bold;
  margin-bottom: 5%;
  color: #b30000;
}

body.dark-mode .validation-errors h3 {
  font-weight: bold;
  margin-bottom: 5%;
  color: red;
}

.validation-errors ul {
  margin-bottom: 5%;
  color: #555;
  text-align: left;
}

body.dark-mode .validation-errors ul {
  margin-bottom: 5%;
  color: #e9e9e9;
  text-align: left;
}

.formprofile {
  line-height: 0.8rem;
  margin-top: 8%;
}

body.dark-mode .formprofile {
  line-height: 0.8rem;
  margin-top: 8%;
  color: #e9e9e9;
}

.langChoice {
  background: #154d88;
  border-top-left-radius: 0.5rem;
  color: #e8eaf6;
  font-size: 0.75rem;
  text-align: center;
}